# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
venv/
.env/
.env

# VS Code
.vscode/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/

# C extensions
*.so

# MySQL, SQLite, and other local DB files
*.sqlite3
*.db

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# dotenv secrets
.env

# PyCharm
.idea/

# Backup files
*~
*.swp
*.swo
